<!DOCTYPE html>
<html>
<head>
    <title>Simple Calculator</title>
</head>
<body>
    <h1>Calculator</h1>
    <h2>Fuck you Abo 3tb</h2>
    <form action="/calculate" method="post">
        <input type="text" name="num1" placeholder="First number" required>
        <input type="text" name="num2" placeholder="Second number" required>
        <select name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>
        <button type="submit">Calculate</button>
    </form>
    {% if result is not none %}
        <h2>Result: {{ result }}</h2>
    {% endif %}
</body>
</html>
